.container {
    /* background-image: url(../assets/background.jpg); */
    align-content: center;
    display: flex;
    width: null;
    height: null;
};

.body {
    background-color: #17053F;
};

.Navbar {
    background-color: #FFCB5D;
}